.top {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin: 0px;
    display: flex;
    gap: 10px;
    list-style: none;
}